# Virtual Environment
venv/
env/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Data & Environment
.env
.DS_Store
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

.env
run_consumer.sh